<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="LogFileName" value="CodeGenerator"/>
  <variable name="LogFileExtension" value="log"/>
  <variable name="LogsLocation" value="${basedir}/App_Data/logs" />

  <variable name="verbose" value="${longdate} | ${uppercase:${level}} | ${machinename} | ${processid} | ${processname} | ${callsite:filename=true} | ${logger} | ${message}  | ${exception} | ${exception:format=StackTrace} "/>

  <targets>
    <!-- add your targets here -->


    <target name="flatFileTarget" xsi:type="File"
               layout="${verbose}"
               fileName="${LogsLocation}\${LogFileName}.${LogFileExtension}"
               archiveFileName="${LogsLocation}\${LogFileName}.{#####}.${LogFileExtension}"
               archiveAboveSize="500000" maxArchiveFiles="10"
               archiveNumbering="Rolling"
               createDirs="true"
               concurrentWrites="true"
               archiveEvery="Day"
              />

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="flatFileTarget" />

  </rules>
</nlog>